/* /////////////////// */
/* ///////// */
/* ////////////////////////////////App OmniScience//////////////////////////////// */
.navbar-brand {
	font-family: 'Audiowide', cursive;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Login Page//////////////////////////////// */	
#loginTitle {
	font-size: 6em;
	font-family: 'Audiowide', cursive;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Media Responsiv Table//////////////////////////////// */
@media 
only screen and (max-width: 767px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 400px) {
    
}

